.body{
  font-family: "Inter", sans-serif;
  

}
/* nav start */
nav{
    margin: 100px;
    display: flex;
    justify-content: space-between;
}
.mainlogo{
        font-family: "Lobster", sans-serif;
        font-weight: 400;   
        } 
.dot{
    color: orange;
}       
.nav-main{
    font-family: "Inter", sans-serif;    
}
.nav-1{
    display: flex;
    list-style: none;
    gap: 60px;
    font-size: 16px;
}
.nav-1 a{
    text-decoration: none;
    color: black;
}
.nav-2{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
hr {
    margin-top: -60px;
    background-color: gray;
}
/* nav bar end */
/* banner section start  */
.banner-main{
    display: flex;
}
.banner-1{
    width: 620px;
    height: 640px;
    background-color: rgb(188, 238, 238);
    margin-inline-start: 50px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px; 
}
.banner-2{
    width: 620px;
    height: 640px;
    background-image: url(./img/baked-chicken-wings-asian-style-tomatoes-sauce-plate\ 1.png);
    background-size: cover;
    background-position: center;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px; 
      
}
.banner-text{
    margin: 50px;
}
.btn-1{
    font-family: "Inter", sans-serif;
    font-size: 12px;
    width:156px;
    height: 45px;
    background-color: #FFF;
    border-radius: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    
}
.banner-text-1{
    font-family: "Inter", sans-serif;

}
.banner-text-2{
    font-size: 64px;
    font-weight: 600;
}
.banner-text-3{
    color: #232324;
    font-size: 16px;
    font-weight: 400;
}
.btn-2{
    font-family: "Inter", sans-serif;
    margin-top: 30px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.60);
    width:156px;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.btn2all{
    display: flex;
    gap: 16px;

}
.name{
    width: 200px;
    height: 60px;
    display: flex;
    gap: 15px;
    align-items: center;
    margin-top: 30px;
}
.sub-name{
    font-family: "Inter", sans-serif;
    color: black;
    font-size: 16px;
    font-weight: 700;
}
.date{
    color: rgba(0, 0, 0, 0.60);
    font-size: 14px;
    font-weight: 500;
}